<nz-table
  *ngIf="servicesList"
  [nzFrontPagination]="false"
  #serviceTable
  [nzScroll]="{ y: '45vh' }"
  [nzData]="servicesList"
>
  <thead>
    <tr>
      <th [nzSortFn]="sortByName">نام/مشخصه</th>
      <th nzAlign="center">هزینه</th>
      <th nzAlign="center">تاریخ سر رسید</th>
      <th nzAlign="center">عملیات</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of serviceTable.data">
      <ng-container
        *ngIf="data.status | serviceStatus as serviceStatusTranslator"
      >
        <td>
          <nz-badge [nzColor]="serviceStatusTranslator.color"></nz-badge>
          <img
            class="service-icon"
            [src]="'assets/service-icons/' + data.type + '.svg'"
          />
          {{ data.name }}
        </td>
        <td nzAlign="center">
          <span class="fa-number">{{ data.amount | number }}</span> تومان
          (ماهیانه)
        </td>
        <td nzAlign="center">{{ data.nextduedate | shamsiDate }}</td>
        <td nzAlign="center">
          <button
            class="action-button"
            nzType="primary"
            nzGhost
            nzBlock
            nz-button
            [disabled]="data.status === 'Cancelled'"
          >
            {{ serviceStatusTranslator.action }}
          </button>
        </td>
      </ng-container>
    </tr>
  </tbody>
</nz-table>
