:root {
  /* Pars Specific Settings*/
  --pars-background-color: #f2f8fa;
  --pars-main-text-color: #55768b;
  --pars-scrollbar-color: #dde4e8;
  --pars-scrollbar-hover: #b5b5b5;
  --pars-scrollbar-background-color: transparent;

  /* Table */
  --pars-table-header-color: rgba(85, 118, 139, 0.7);
  --pars-table-row-hover: #f6fbfe;
  --pars-table-base-font-size: 12px;

  /* Tabs */
  --pars-tabs-ink-bar-color: transparent;
  --pars-tabs-compact-ink-bar-color: #248fde;
  --pars-tabs-bar-margin: 0;
  --pars-tabs-title-font-size-lg: 14px;
  --pars-tabs-active-color: var(--pars-tabs-compact-ink-bar-color);

  /* Badge */
  --pars-badge-dot-size: 4px;

  /* Button */
  --pars-disabled-btn-color: fade(#247fde, 40%);
}
