.tab-name {
  text-align: center;
}

.tab-icon {
  width: 3rem;
  height: 3rem;

  &.active {
    filter: invert(1) sepia(1) saturate(5) hue-rotate(175deg);
    border-bottom: none;
  }
}

.tab-count {
    background: #F2F8FA;
    border-radius: .4rem;
    padding: 0.5rem;
    margin-top: 1rem;
    font-size: 0.7rem;
}