<main class="card" *ngIf="services$ | async as services">
  <header
    nz-row
    nzJustify="space-between"
    nzAlign="middle"
    class="services-header"
  >
    <h3 nz-col>سرویس‌های من</h3>
    <span nz-col nz-icon nzType="ellipsis" nzTheme="outline"></span>
  </header>
  <section class="search">
    <app-search-bar [searchBarCtrl]="searchBar"></app-search-bar>
  </section>

  <section class="filter-selector">
    <app-filter-bar
      *ngIf="services.metadata"
      [servicesMetadata]="services.metadata"
    ></app-filter-bar>
  </section>

  <section class="services-list">
    <app-services-table [servicesList]="services.data"></app-services-table>
  </section>
</main>
