@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";
@import "assets/fonts/yekan/Yekan.css";
@import "assets/fonts/iran-sans/iransans.scss";

// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less
// Override less variables to here
// @primary-color: #1890ff;
@text-color: var(--pars-main-text-color);
@heading-color: var(--pars-main-text-color);
@table-header-bg: transparent;
@table-header-color: var(--pars-table-header-color);
@table-row-hover-bg: var(--pars-table-row-hover);
@table-border-color: transparent;
@table-header-cell-split-color: transparent;
@table-font-size: var(--pars-table-base-font-size);
@tabs-ink-bar-color: var(--pars-tabs-ink-bar-color);

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--pars-background-color);
  box-sizing: border-box;
  color: var(--pars-main-text-color);
  direction: rtl;
  font-family: Yekan, sans-serif;
  font-weight: 400;
  height: 100%;
  line-height: 1.7;
  overflow: hidden;
}

.fa-number {
  font-family: IRANSansX, Yekan;
  font-size: 0.8em;
}
